In [17]:
# ADDITION
a = 15
b = 4
c =(a + b)
print("the sum of 15 and 4 is",c)

the sum of 15 and 4 is 19

In [18]:
# SUBTRACTION
a = 15
b = 4
c =(a - b)
print("the difference of 15 and 4 is",c)

the difference of 15 and 4 is 11

In [19]:
# PRODUCT
a = 15
b = 4
c =(a*b)
print("the product of 15 and 4 is",c)

the product of 15 and 4 is 60

In [20]:
# DIVISION
a = 15
b = 4
c =(a/b)
print("when 15 divides by 4 it gives",c)

when 15 divides by 4 it gives 3.75

In [25]:
# FLOOR DIVISION
a = 15
b = 4
c =(a//b)
print("the floor division gives",c)

the floor division gives 3

In [22]:
# MODULUS
a = 15
b = 4
c = (a%b)
print("the remainder is",c)

the remainder is 3

In [35]:
# TYPE CASTING
num1 = 10 
c = (type(num1))
d = (float(num1))
e = (type(d))
print(c,d,e)

<class 'int'> 10.0 <class 'float'>

In [38]:
num2 = 5.6
c = (type(num2))
d = (int(num2))
e = (type(d))
print(c,d,e)

<class 'float'> 5 <class 'int'>

In [41]:
num3 = 4.43
c = (type(num3))
d = (str(num3))
e = (type(d))
print(c,d,e)

<class 'float'> 4.43 <class 'str'>

In [68]:
# LIST
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
a =(fruits[0])
print(a)

apple

In [67]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
a = (fruits[-1])
print(a)

orange

In [71]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]
a = (fruits[3])
print(a)

coconut

In [79]:
# SLICING
numbers = [10, 20, 30, 40, 50]
print(numbers[0:3])

[10, 20, 30]

In [84]:
numbers = [10, 20, 30, 40, 50]
print(numbers[3:5])

[40, 50]

In [87]:
numbers = [10, 20, 30, 40, 50]
print(numbers[1:])

[20, 30, 40, 50]

In [88]:
numbers = [10, 20, 30, 40, 50]
print(numbers[:4])

[10, 20, 30, 40]

In [93]:
numbers = [10, 20, 30, 40, 50]
print(numbers[::-1])

[50, 40, 30, 20, 10]

In [97]:
numbers = [10, 20, 30, 40, 50]
print(numbers[0:5:2])

[10, 30, 50]

In [99]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [111]:
#Add the number 10 to the end of the list using method.
nums = [1, 2, 3]
nums.append(10)
print(nums)

[1, 2, 3, 10]

In [114]:
#Insert the number 99 at index 1 using method.
nums = [1, 2, 3]
nums.insert(1,99)
print(nums)

[1, 99, 2, 3]

In [117]:
#Add the elements of another list [4, 5] to the original list using method
nums = [1, 2, 3]
num = [4,5]
nums.extend(num)
print(nums)

[1, 2, 3, 4, 5]

In [120]:
#Sort the list in ascending order using method
nums = [4, 1, 3, 2]
nums.sort()
print(nums)

[1, 2, 3, 4]

In [125]:
order = ["burger", "fries", "coke"]

#Add a new item "ice cream" 
order.append("ice cream")
print(order)

['burger', 'fries', 'coke', 'ice cream']

In [128]:
order = ["burger", "fries", "coke"]
#- first add item "biryani" 
order.append("biryani")
print(order)

['burger', 'fries', 'coke', 'biryani']

In [132]:
order = ['burger', 'fries', 'coke', 'biryani']
order.remove('biryani')
print(order)

['burger', 'fries', 'coke']

In [135]:
#Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]
#Insert a new passenger "Sara" at position 2
passengers.insert(2,"Sara")
print(passengers)

['Ali', 'Zara', 'Sara', 'Ahmed']

In [137]:
passengers = ['Ali', 'Zara', 'Sara', 'Ahmed'] 
# Remove passesnger who got off "Zara"
passengers.remove('Zara')
print(passengers)

['Ali', 'Sara', 'Ahmed']

In [138]:
passengers = ["Ali", "Zara", "Ahmed"]
#Reverse the order to show who entered first
passengers.reverse()
print(passengers)

['Ahmed', 'Zara', 'Ali']